$colour: rgba(#3f51b5, 1);
$label-color-1: rgba(#3f51b5, 1);
$color-alert: #b71c1c;
.page-wrapper {
  background: url('static/images/technology-785742.jpg') fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.wrapper--680 {
  max-width: 680px;
}
.p-t-100 {
  padding-top: 5em;
}
.p-b-100 {
  padding-top: 5em;
}
.wrapper {
  margin: auto;
}

.page-wrapper {
  min-height: 100vh;
  margin-top: 5em;
}

.card-1 {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, .45);
}

.header {
  background-color: $colour;
  color: white;
  padding: 1em;
}
label {
  color: $label-color-1;
}

.m-t-100 {
  margin-top: 2em;
}

.btn-link, .sign-up {
  color: $colour;
}

.btn-primary {
  background-color: $colour;
}

p {
  color: $color-alert;
  font-size: 12px;
}
// loader background
.loader-body {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  text-align: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.lds-ripple {
  display: inline-block;
  position: relative;
  margin-top: 25em;
}
@import url(https://fonts.googleapis.com/css?family=Roboto);

$primary-color: #3f51b5;
$secondary-color: #b4bbe4;
$grey: #8c8c8c;

p {
  font: {
    family: "Roboto";
  }
}
